Load SQL extension

In [ ]:
%load_ext sql

Connect to your sakila database on AWS RDS

In [ ]:
%sql mysql://USERNAME:PASSWORD@HOST/DATABASE

TASK:  
Use a CTE instead of a VIEW to create a list of active customers. Include the first_name, last_name, and an obscured email.

Verify active_customer VIEW with a SELECT.

### CTE Syntax

```
WITH cte1 AS (
SELECT col1, col2
	FROM table1
) 
SELECT col1, col2 
FROM cte1;
```

Use the VIEW definition for the CTE body.

---

Connect to your digital_marketing database on **AWS RDS**

In [ ]:
%sql mysql://USERNAME:PASSWORD@HOST/DATABASE

In [ ]:
%%sql
CREATE TABLE employee (
    employee_id INT(11) PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    title VARCHAR(255),
    office VARCHAR(255)
);

Download https://bit.ly/employee_csv and save as employee.csv  
Using TablePlus, import employee.csv into the employee table

In [ ]:
%%sql
CREATE TABLE commission (
    commission_id INT(11) PRIMARY KEY,
    salesperson_id BIGINT(20) NOT NULL,
    commission_amount DECIMAL(12,2) NOT NULL,
    commission_date DATE NOT NULL
);

Download https://bit.ly/commission_csv and save as commission.csv  
Using TablePlus, import commission.csv into the commission table

### 1. Improved readability  
A CTE makes it easier to interpret a query compared to using a subquery. 

TASK:  
Find employees from the Chicago office who do not have the salesperson title.

First, fulfill the query without a CTE.

TASK:  
Use a CTE to find all employees from the Chicago office. Query from the CTE then filter for employees without the salesperson title. Sort the results by the title.

TASK:  
Replace the CTE with a subquery to create a derived table.

### 2. Nesting  
We can refer to other CTEs within a CTE. Addresses the complexity added when using nested subqueries to create derived tables.

```
WITH cte1 AS (
    SELECT col1, col2
    FROM table1
),
cte2 AS (
    SELECT col1, col2
    FROM table2
)
SELECT cte1.col2 
FROM cte1 
JOIN cte2
    ON cte1.col1 = cte2.col1;
```

TASK:  
Find the employees from the Chicago office who have dba as their title. Use 2 separate CTEs to 1. find employees from the Chicago office 2. filter the Chicago employees to only show those who have dba as their title.

### 3. Use CTEs for year-over-year comparisons  
You can query the same CTE multiple times in the same query.  

TASK:  
Compare the annual commission totals for the salespersons from one year to the next. 

Before adding a CTE, construct a GROUP BY query to get the commission totals per salesperson and year. Use the YEAR() date function on the commission_date year column as one of the "grouped" columns.

TASK:  
Display the current and previous year commission totals on the same row. Create a CTE to run the aggregate query. SELECT from the CTE twice to get the results for the current and previous year. Match the salesperson_id from the CTE then add a condition to compare a year from another year.

TASK:  
Modify the query above to display the salesperson's name and only show the salesperson_id once. You need to update the CTE to do a JOIN into the employee table.  For the final output, instead of selecting all of the columns, replace the * with the desired column names.

TASK:  
Modify the output to only show the salespersons whose sales went down from year to year. Add the commission total difference between the two years into the SELECT. Sort the results by that difference.

### 4. Comparing individuals against their own group  

You can use a CTE in the WHERE.  

TASK:  
Find all of the salespersons who made at least 2 percent of the total commissions earned by all salespersons in the entire company during 2017. Reuse the query above to get the commission totals and adding it to a CTE. Calculate what is 2 percent of the total commissions earned directly in the WHERE clause by querying the CTE a second time.

TASK:  
What would the query look like if subqueries to create derived tables were used instead of CTEs?

Subqueries are slower and harder to read. If we had to modify the repeated subqueries, we'd have to update the query in multiple places.

# Make sure to save your notebook!