Install ipython-sql library

In [ ]:
!pip install ipython-sql

Install pymysql to install drivers to support MySQL database connections

In [ ]:
!pip install pymysql

Load SQL extension

In [ ]:
%load_ext sql

Connect to the LMU Build sakila database

In [ ]:
%sql mysql://USERNAME:PASSWORD@HOST/DATABASE

---

# MySQL String Functions  
https://dev.mysql.com/doc/refman/8.0/en/string-functions.html

```CONCAT(string1, string2, ...)```  
Concatenates two or more strings together

In [ ]:
%%sql
SELECT first_name, last_name, CONCAT(first_name, ' ', last_name) 'Full Name' 
FROM actor 
ORDER BY RAND() 
LIMIT 10;

```LEFT(string, length)```  
Extracts a substring from a string (starting from the left)

Return the sum payment amount and the number of payments for each hour between 2005-07-30 and 2005-07-31. The grouped column should look like 2005-07-30 00, 2005-07-30 01, 2005-07-30 02, etc.

Use DATE_FORMAT(date, format) instead of LEFT() to GROUP BY the payment date and hour.  
Format options: https://www.w3schools.com/sql/func_mysql_date_format.asp

GROUP BY only the hour. Do not include the date.

```REPEAT(string, number)```  
Repeats a string as many times as specified.

Create a graph based on the # of payments. Order the # of payments in descending order.

```FORMAT(number, decimal places)```  
Adds commas to a number, rounded to a number of decimal places

Update the query above to expand the date range to include all of 2005 then use FORMAT to add commas to the aggregate expressions. Add 2 decimal places for the sum payment amount and 0 decimal places for the # of payments.

```SUBSTRING(string, position, length)```  
Returns a part of a string starting at a specific position for a specified length

Select 30 characters of the film description for 10 films but do not include the "A " at the front.  
Examples:  
A Astounding Epistle of a Database Administrator  
A Fanciful Documentary of a Frisbee

```SUBSTRING_INDEX(string, delimiter, count)```  
Return a substring from a string before the specified number of occurrences of a delimiter  
Negative counts start from the right

In two expressions, select the address number and the street type from the address column of the address table. 
### For the rest of the examples, limit the results to 10 rows.

```LCASE(string) and UCASE(string)```  
LCASE: Converts a string to lower-case  
UCASE: Converts a string to upper-case

Select the raw title, lower case the title, raw special_features, and upper case the special_features.

### Combining string functions  
Only capitalize the first letter of the actor's name - in 4 steps

1. Select the raw first_name and only the first letter of the first name

2. Add to the existing query - select everything but the first letter of the first_name

3. Lower case the string where you selected everything but the first letter of the first_name

4. CONCAT the first letter and the lower cased version of the rest of the first_name

```TRIM(string)```  
Remove leading and trailing spaces

Remove the leading and trailing spaces from the literal string and the string in the user-defined variable. Replace the ??? with the function.

In [ ]:
%%sql
SET @string_with_spaces = '   world  ';
SELECT '   hello  ', ???('   hello  '), @string_with_spaces, ???(@string_with_spaces);